@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&display=swap');

$primary-color: #050857;

.application-layout{
  height: 100vh;
  max-height: 100vh;
  display: flex;
}
.navbar{
  height: calc((80/16)*1vw);
}

.sidebar{
  background-color: $primary-color;
  width: calc((202/16)*1vw);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  .navigation{
    padding-top: calc((112/16)*1vw);
    display: flex;
    flex-direction: column;
    gap: calc((48/16)*1vw);
    a{
      display: block;
    }
  }
  .footer{
    padding-bottom: calc((18/16)*1vw);
  }
}