@import url("./fonts.scss");

$primary-color: #050857;

body{
  font-family: 'Aestetico Formal';
  color: white;
  box-sizing: border-box;
}
div{
  box-sizing: border-box;
}

.application-layout{
  height: 100vh;
  max-height: 100vh;
  width: 100%;
  display: flex;
  .content{
    width: 100%;
  }
}
.navbar{
  height: calc((80/16)*1vw);
  padding: 0 calc((24/16)*1vw);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.sidebar{
  background-color: $primary-color;
  width: calc((202/16)*1vw);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  .navigation{
    padding-top: calc((112/16)*1vw);
    display: flex;
    flex-direction: column;
    gap: calc((48/16)*1vw);
    a{
      color: #fff;
      text-decoration: none;
      text-align: center;
      font-family: 'Aestetico Formal ExtraBold';
      font-size: calc((20/16)*1vw);
      display: block;
    }
  }
  .footer{
    padding-bottom: calc((18/16)*1vw);
    display: flex;
    flex-direction: column;
    width: 80%;
    .user{
      display: flex;
      height: calc((50/16)*1vw);
      margin-bottom: calc((4/16)*1vw);
      p{
        margin: 0;
      }
      .user-info{
        align-self: flex-end;
        text-align: right;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: calc((12/16)*1vw);
        margin-right: calc((4/16)*1vw);
        .name-text{
          font-family: 'Aestetico Formal ExtraBold';
          font-size: calc((12/16)*1vw);
        }
        .email-text{
          font-family: 'Aestetico Formal ExtraBold';
          font-size: calc((8/16)*1vw);
        }
      }
    }
    .options{
      display: flex;
      flex-direction: column;
      gap: calc((28/16)*1vw);
      margin-top: calc((18/16)*1vw);
      a{
        text-align: center;
        font-family: 'Aestetico Formal ExtraBold';
        font-size: calc((20/16)*1vw);
      }
    }
  }
}

.articles-tab{
  padding: calc((22/16)*1vw) calc((16/16)*1vw);
  max-height: calc(100% - ((80 / 16) * 1vw));
  overflow: scroll;
  .tab-header{
    width: fit-content;
    h2{
      font-size: calc((32/16)*1vw);
      width: fit-content;
      color: $primary-color;
      margin: 0 !important;
    }
  }
  .cards-layout{
    padding-top: 1vw;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    align-items: center;
    row-gap: 4vw;
  }
}

.card-article{
  width: calc((550/16)*1vw);
  border-radius: calc((20/16)*1vw);
  padding-bottom: 1vw;
  color: $primary-color;
  box-shadow: black 1px 1px 0;
  .content{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  h3{
    font-family: 'Aestetico Formal ExtraBold';
    text-align: center;
    max-width: calc((383/16)*1vw);
    font-size: calc((25/16)*1vw);
    width: fit-content;
    color: $primary-color;
    margin: 0 !important;
  }
  p{
    font-family: 'Aestetico Formal ExtraBold';
    max-width: calc((519/16)*1vw);
    text-align: center;
    font-size: calc((20/16)*1vw);
  }
  strong{
    width: 100%;
    font-family: 'Aestetico Formal ExtraBold';
    text-align: right;
    font-size: calc((20/16)*1vw); 
  }
}
.activeLink{
  text-decoration: underline !important;
}