@font-face {
  font-family: 'Aestetico Formal';
  src: url('./assets/fonts/aestetico/AesteticoFormal-Medium.eot');
  src: local('Aestetico Formal Medium'), local('AesteticoFormal-Medium'),
      url('./assets/fonts/aestetico/AesteticoFormal-Medium.eot?#iefix') format('embedded-opentype'),
      url('./assets/fonts/aestetico/AesteticoFormal-Medium.woff2') format('woff2'),
      url('./assets/fonts/aestetico/AesteticoFormal-Medium.woff') format('woff'),
      url('./assets/fonts/aestetico/AesteticoFormal-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Aestetico Formal ExtraLight';
  src: url('./assets/fonts/aestetico/AesteticoFormal-ExtraLight.eot');
  src: local('Aestetico Formal Extra Light'), local('AesteticoFormal-ExtraLight'),
      url('./assets/fonts/aestetico/AesteticoFormal-ExtraLight.eot?#iefix') format('embedded-opentype'),
      url('./assets/fonts/aestetico/AesteticoFormal-ExtraLight.woff2') format('woff2'),
      url('./assets/fonts/aestetico/AesteticoFormal-ExtraLight.woff') format('woff'),
      url('./assets/fonts/aestetico/AesteticoFormal-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Aestetico Formal ExtraBold';
  src: url('./assets/fonts/aestetico/AesteticoFormal-ExtraBold.eot');
  src: local('Aestetico Formal Extra Bold'), local('AesteticoFormal-ExtraBold'),
      url('./assets/fonts/aestetico/AesteticoFormal-ExtraBold.eot?#iefix') format('embedded-opentype'),
      url('./assets/fonts/aestetico/AesteticoFormal-ExtraBold.woff2') format('woff2'),
      url('./assets/fonts/aestetico/AesteticoFormal-ExtraBold.woff') format('woff'),
      url('./assets/fonts/aestetico/AesteticoFormal-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Aestetico Formal Black';
  src: url('./assets/fonts/aestetico/AesteticoFormal-Black.eot');
  src: local('Aestetico Formal Black'), local('AesteticoFormal-Black'),
      url('./assets/fonts/aestetico/AesteticoFormal-Black.eot?#iefix') format('embedded-opentype'),
      url('./assets/fonts/aestetico/AesteticoFormal-Black.woff2') format('woff2'),
      url('./assets/fonts/aestetico/AesteticoFormal-Black.woff') format('woff'),
      url('./assets/fonts/aestetico/AesteticoFormal-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Aestetico Formal Bold';
  src: url('./assets/fonts/aestetico/AesteticoFormal-Bold.eot');
  src: local('Aestetico Formal Bold'), local('AesteticoFormal-Bold'),
      url('./assets/fonts/aestetico/AesteticoFormal-Bold.eot?#iefix') format('embedded-opentype'),
      url('./assets/fonts/aestetico/AesteticoFormal-Bold.woff2') format('woff2'),
      url('./assets/fonts/aestetico/AesteticoFormal-Bold.woff') format('woff'),
      url('./assets/fonts/aestetico/AesteticoFormal-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Aestetico Formal Semi';
  src: url('./assets/fonts/aestetico/AesteticoFormal-SemiBold.eot');
  src: local('Aestetico Formal Semi Bold'), local('AesteticoFormal-SemiBold'),
      url('./assets/fonts/aestetico/AesteticoFormal-SemiBold.eot?#iefix') format('embedded-opentype'),
      url('./assets/fonts/aestetico/AesteticoFormal-SemiBold.woff2') format('woff2'),
      url('./assets/fonts/aestetico/AesteticoFormal-SemiBold.woff') format('woff'),
      url('./assets/fonts/aestetico/AesteticoFormal-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Aestetico Formal';
  src: url('./assets/fonts/aestetico/AesteticoFormal-Regular.eot');
  src: local('Aestetico Formal'), local('AesteticoFormal-Regular'),
      url('./assets/fonts/aestetico/AesteticoFormal-Regular.eot?#iefix') format('embedded-opentype'),
      url('./assets/fonts/aestetico/AesteticoFormal-Regular.woff2') format('woff2'),
      url('./assets/fonts/aestetico/AesteticoFormal-Regular.woff') format('woff'),
      url('./assets/fonts/aestetico/AesteticoFormal-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}